.expand {
  display: block;
}

.button {
  width: 100%;
  padding: .5rem;
  border: 1px solid lightgray;
  text-align: start;
  transition: opacity .15s ease;
}

.button:hover {
  opacity: .85;
}

.panel {
  padding: 1rem 1rem 0;
}
