.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.5rem;
}

.scenarios {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 56.25rem) {
  .container {
    padding: 0;
    max-width: calc((100% - 3rem) / 3);
  }
}
