.container {
  padding: 0 1.5rem;
}

.container > b {
  font-weight: 600;
}

.box {
  margin: 2.5rem 0;
  padding: 1rem;
  background-color: whitesmoke;
  border: 1px solid lightgray;
}

.text {
  margin-top: .5rem;
  font-size: 1.25rem;
}

@media (min-width: 56.25rem) {
  .container {
    padding: 0;
    max-width: calc((100% - 3rem) / 3);
  }
}
