.message {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  padding: .5rem;
  color: white;
  background-color: black;
}

.message:last-child {
  margin-bottom: 1.5rem;
}

.error {
  background-color: indianred;
}
