.wrapper {
  flex: 1;
}

.search {
  margin-bottom: 1rem;
}

.bold {
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.product {
  background-color: lightgray;
}
