.wrapper {
  margin: 1.5rem 1.5rem 0;
  order: 1;
  grid-column: span 2;
}

@media (min-width: 56.25rem) {
  .wrapper {
    margin: 0;
    order: 0;
    grid-column: span 1;
  }
}

.search {
  margin-bottom: 1rem;
}

.bold {
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 37.5rem) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.product:hover .image {
  transform: scale(1.05);
}

.imageWrapper {
  position: relative;
  padding: 1rem;
  border: 1px solid lightgray;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.price {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: .5rem;
  color: white;
  background-color: black;
  border: 2px solid white;
  font-weight: 600;
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform .15s ease;
}

.title {
  margin: 1rem 0;
}

.line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
