.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 1.5rem auto 0;
  padding: 1.5rem;
  border-top: 1px solid lightgray;
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  height: 2rem;
  font-weight: 600;
}

.logo img {
  height: 100%;
}

.version {
  color: lightgray;
}
